/*********************************/
/*         GENERAL TAGS          */
/*********************************/ 

table {
    border: none;
    cellspacing: 0;
    border-collapse: collapse;
}

h3 {
    font-size: 1.5em;
}

h4 {
    margin: 0px;
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

body {
    background: #555555;
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
    font-size: .8em;   
    color: #222222;
    width: 960px;
    margin: auto;
}

/*********************************/
/*             MISC              */
/*********************************/ 

#page {
/*    margin: auto;
    display: table;*/
    border: 1px solid #000000;
    background: #eeeeee;
    padding: 0px;    
    box-shadow: 2px 3px 10px 3px #444444;   
}

#content {
    padding: 20px;
}

.sections {
    padding: 2px 4px 3px 10px;
    width: 98%;
    color: #ffffff;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

/*********************************/
/*             HEADER            */
/*********************************/ 

#header {
    padding: 8px;    
    height: 140px;    
}

#me-pic {
    border: 1px solid #999999;
    margin: 10px 20px 10px 10px;
    float: left;
    padding: 0px;    
}

#me-pic img {
    vertical-align: top;
}

h1#name {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: bold;
    color: #555555;
    position: relative;   
    left: -2px; 
    margin: 0;
}

h2#title {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    color: #777777;
    position: relative;
    margin: 0;
}

#caption {
    position: relative;
    top: 28px; 
    color: #555555; 
    margin: 0 20px 0 0;
    font-size: 1.1em;  
}

/*********************************/
/*          CONTACT INFO         */
/*********************************/ 

div#contact-info {
    text-align: center;
    border-top: 5px solid #777777;
    border-bottom: 5px solid #777777;
}

.contact_block {    
    line-height: 30px;
    opacity: .6;
}

span.icon {
    right: 6px;
    position: relative;
    line-height: 16px;
    font-size: 30px;
    top: 6px;        
}

span.phone {
    font-size: 20px;      
    top: 1px;  
}

span.email {
}

span.location {
} 

/*********************************/
/*             LOGOS             */
/*********************************/ 

.icon-bar {
    margin: 10px 0 0 0;
}

.logo, .logo img {
    height: 40px;
    text-align: center;    
}

#js {
    font-family: "Open Sans";
    font-weight: 800;
    position: relative;    
    font-size: 30px;
    color: #222222;
    line-height: 40px;    
}

/*********************************/
/*          STRENGTHS            */
/*********************************/ 

#str-section {
    text-align: center;
}

h3#str {
    background: #6C9DAB;
    text-align: left;
}

.strengths {
    display: inline-block;
    text-align: left;
    margin: 0 10px 0 10px;
    font-size: 1em;
}

/*********************************/
/*       TECHNOLOGY/SKILLS       */
/*********************************/ 

h3#tech {
    background: #41707D;    
}

div.skills {
    width: 33%;
    display: inline-block;
}

div.skills ul {
    list-style-type: none;
}

div.skills ul li{
    line-height: 18px;
    margin-bottom: 6px;
    font-size: 1.25em;
}

div.skills ul li.stars:before {
    position: relative;
    float: right;
    color: #444444; 
}

li.star5:before {
    content: "\2605\2605\2605\2605\2605";  
    left: -50px;
}

li.star4:before {
    content: "\2605\2605\2605\2605"; 
    left: -50px;
}

li.star3:before {
    content: "\2605\2605\2605"; 
    left: -50px;
}

li.star2:before {
    content: "\2605\2605"; 
    left: -50px;
}

li.star1:before {
    content: "\2605"; 
    left: -50px;
}

/*********************************/
/*          EXPERIENCE           */ 
/*********************************/

#exp-section li {
    margin: 8px 16px 8px 8px;
}

h3#exp {
    background: #284D57;    
}

h4.company-name, h4.work-dates {
    font-weight: bold;
    font-style: italic;    
    display: inline-block;    
}

h4.company-name {
    margin-left: 6px;
}

h4.work-dates {
    float: right;
    margin-right: 12px;
}

h5.job-title {
    margin: 0;
    font-weight: bold;
    margin-left: 12px;
}

/*********************************/
/*           EDUCATION           */ 
/*********************************/

h3#edu {
    background: #122C33;    
}

h4.school-focus, h4.school-dates {
    font-weight: bold;
    font-style: italic;
    display: inline-block;    
}

h4.school-focus {
    margin-left: 6px;
}

h4.school-dates {
    float: right;
    margin-right: 12px;
}

h5.school {
    margin: 0;
    font-weight: bold;
    margin-left: 12px;
}

/*********************************/
/*             FOOTER            */ 
/*********************************/

#footer {
    text-align: right;
    color: #bbbbbb;
    padding: 5px 20px 5px 20px;
    background: #222222;
    height: 15px;
}
